# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# SAM / AWS
.aws-sam/
dependencies/
build/

# IDE
.vscode/
.idea/

# Logs
*.log

# Documentation
*.md

# OS
.DS_Store